includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    paths:
        - src
    level: 8
    checkMissingIterableValueType: true
    excludePaths:
        - 'src/Http/Controllers/ExportController.php'
